body {
    background-color: #000;
    color: #aaa;
    font: bold 12px arial;
    text-shadow: 0 0 2px white;
}

.historyWrapper {
    position: relative;
}
div#history {
    padding: 5px;
}
#history::after {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: linear-gradient(to bottom, black 5%, rgba(0, 0, 0, 0) 60% );
    pointer-events: none;
}

span.message {
    display: block;
}
span.date {
    color: #555;
    text-shadow: 0 0 2px #777;
}

input {
    background-color: #141414;
    border: 0px;
    color: #aaa;
    font: bold 12px arial;
    text-shadow: 0 0 2px white;
    width: 100%;
    padding: 5px;
}

div#userName {
    display: inline-block;
}
